<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Dee Fu Fend.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2E2A59DD1D19A91100FE49BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2E2A59F51D19A91200FE49BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2E2A5A001D19A91200FE49BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
